html{
scrollbar-3dlight-color: #ffe3f2;
scrollbar-arrow-color: #ff0690;
scrollbar-darkshadow-color: #ffacda;
scrollbar-face-color: #ffe1f0;
scrollbar-highlight-color:#ffffff;
scrollbar-shadow-color: #ffe1f0;
scrollbar-track-color: #ffeaf5;
}
body {
color:#000000;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; 	
background-image: url(imagens/lines.gif);
}
a:link,a:active,a:visited { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; 
text-decoration: none; 
color: #ff0690; 
font-style: normal;
}
a:hover { 
text-decoration: underline; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; color: #000000; 
font-style: normal
}
.bg{
color: 11px;
background: #ffffff;
border: solid 1px #ff98c5;
font-family: Verdana, Arial, Helvetica, sans-serif;	
margin: 5; 
padding: 5;	
}
td.scrn_tl{
background-image: url(imagens/scrn_tl.gif);
background-repeat: no-repeat;
}
td.scrn_t{
background-image: url(imagens/scrn_t.gif);
}
td.scrn_tr{
background-image: url(imagens/scrn_tr.gif);
background-repeat: no-repeat;
}
td.scrn_r{
background-image: url(imagens/scrn_r.gif);
background-repeat: repeat-y;	
}
td.scrn_l{
background-image: url(imagens/scrn_l.gif);
background-repeat: repeat-y;	
}
td.scrn_bl{
background-image: url(imagens/scrn_bl.gif);
background-repeat: no-repeat;		
}
td.scrn_b{
background-image: url(imagens/scrn_b.gif);
}
td.scrn_br{
background-image: url(imagens/scrn_br.gif);
background-repeat: no-repeat;
}
td.tt12_m{
background-image: url(imagens/tt12_m.gif);
background-repeat: repeat-x;		
}
td.tb12_m{
background-image: url(imagens/tb12_m.gif);
background-repeat: repeat-x;			
}
.whi{
background: #ffffff;
padding: 5px;
}
td.wh{
background: #ffffff;
padding-top: 0px;
padding-right: 10px;	
padding-left: 10px;	
}
td.wh2{
font-size: 20px;
font-weight: bold;
background: #ffffff;
padding: 15px;
text-align: center;	
}
table { 
width: 100%; 
margin: 5; 
padding: 5;
font-size: small
}
table td { 
padding: 0; 
border-width: 0; 
vertical-align: top; 
font-family: Verdana, Arial, Helvetica, sans-serif;
}
td { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #999999; 
font-size: 11px;	
}
input { 
background-color : #ffffff;
color : #ff98c5;
font-size: 11px; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
}
textarea {
color : #ff98c5;	
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
border: solid 1px #ff98c5;
}
select {
color : #ff98c5;
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
border-color : #ff98c5; 
} 
img { 
border: 0;
}
ul { 
margin: 2px; 
padding: 2px; 
list-style: decimal inside; 
text-align: left;
}
li { 
margin-left: 2px; 
list-style: disc inside;
}
.odd { 
background-color: #ffeaf5;
text-align: left;
}
.outer { 
background-color: #ffe1f0;
text-align:left;
}
.even { 
background-color: #ffeaf5;
}
th { 
background-color: #ff98c5; 
text-align: left; 
padding: 5px;
}
.head { 
color: #ffffff; 
font-size: 11px; 
height: 20px;
background:#ffc2d8;
vertical-align: middle;		
}
.foot { 
background-color: #ffeaf5; 
padding: 3px;
}
.comTitle {
color: #ffffff; 
font-size: 11px; 
font-weight : bold;
background: #ff98c5;
height: 23px;
text-align: left;
padding-top: 7px;
padding-left: 10px;	
}
.comText {
padding: 20px;
text-align: left; 		
}
.comUserStat {
font-size: 10px; 
color: #ff0690; 
font-weight:bold; 
border: 1px solid #ff98c5; 
background-color: #ffffff; 
margin: 2px; padding: 2px;	
}
.comUserStatCaption {
font-weight: normal;
}
.comUserStatus {
margin-left: 2px; 
margin-top: 10px; 
color: #ff98c5; 
font-weight:bold; 
font-size: 10px;
}
.comUserRank {
margin: 2px;
}
.comUserRankText {
font-size: 10px;
font-weight:bold;
}
.comUserRankImg {
border: 0;
}
.comUserName {}
.comUserImg {
margin: 2px;
}
.comDate {
color: #ff0690;
font-weight: normal; 
font-style: italic;	 
font-size: smaller;
text-align: right;	
}
.comDateCaption {
color: #ff0690;
font-weight: bold; 
font-style: normal;
text-align: right;	
}
div.xoopsCode { 
background: #ffffff; 
border: 1px inset #ff0690; 
font: normal 11px Verdana, Arial, Helvetica, sans-serif; 
padding: 0px 6px 6px 6px;}
div.xoopsQuote { 
background: #ffffff; 
border: 1px inset #ff0690; 
font: normal 11px Verdana, Arial, Helvetica, sans-serif; 
padding: 0px 6px 6px 6px;}
.item {
background: #ffd4eb;
}
.itemHead {
color: #ff0690; 
font-size: 11px; 
font-weight : bold;
background-image: url(imagens/lines.gif);
height: 20px;
padding-top: 7px;
padding-left: 7px;
border: solid 1px #ff98c5;		
}
.itemInfo {
text-align: right; 
padding: 3px; 
background-color: #ffeaf5;
border-left: solid 1px #ff98c5;
border-right: solid 1px #ff98c5;
}
.itemTitle a {
font-size: 130%; 
font-size: 11px;	
font-weight: bold; 
font-variant: small-caps; 
color: #000000; 
background-color: transparent;
}
.itemPoster {
color: #ff0690;
font-size: 90%; 
font-style:nomal;
}
.itemPostDate {
font-size: 90%; 
font-style:nomal;
}
.itemStats {
color: #ff0690;
font-size: 90%; 
font-style:nomal;
}
.itemBody {
color: #ff98c5;
padding-left: 5px; 
text-align: left;
border: solid 1px #ff98c5;			
}
.itemText {
color: #000000;
margin-top: 5px; 
margin-bottom: 5px; 
line-height: 1.5em;
}
.itemFoot {
text-align: right; 
padding: 3px; 
background-color: #ffeaf5;
border-left: solid 1px #ff98c5;
border-right:solid 1px #ff98c5;
border-bottom:solid 1px #ff98c5;		
}
.itemAdminLink {
font-size: 90%;
}
.itemPermaLink {
font-size: 90%;
}
.blockTitle {
color: #ff0690;
font-size: 13px;
font-weight: bold;
text-align: center;
background-image: url(imagens/lines.gif);	
border: solid 1px #ff98c5; 
height: 28px;
vertical-align: middle;	
}
.blockTitle2 {
color: #ff98c5;
font-weight: bold;
font-size: 12px;
text-align: center;	
background-image: url(imagens/lines.gif);
border: solid 1px #ff98c5; 
height: 28px;
vertical-align: middle;	
}
.blockContent {
background-color: #ffd4eb; 
padding: 5px;
border-left: solid 1px #ff98c5;
border-right:solid 1px #ff98c5;
border-bottom:solid 1px #ff98c5;
}